table {
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}

.mattoolbar {
  background-color: white;
  margin-bottom: -11px;
}

.user {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  /* or 113% */

  display: flex;
  align-items: center;
  letter-spacing: 0.496657px;

  color: #2e2e7f;
}

.Dashboard {
  font-family: "Adam";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 51px;
  color: #263238;
  margin-left: 30px;
}

.Discard1 {
  background: linear-gradient(86.39deg, #698eb7 0%, #5bc5c9 100%);
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  border-radius: 15px;
  left: 62%;
  right: 0%;
  top: 21.43%;
  bottom: 21.43%;
}

.ApplyChanges1 {
  background: #31c2aa;
  border-radius: 15px;
  color: white;
  left: 62%;
  right: 0%;
  top: 21.43%;
  bottom: 21.43%;
}

.mat-card {
  display: block;
  position: relative;
  padding: 16px;
  margin-left: 106px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: center;
  color: black;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  width: 560px;
  height: 266px;
  border-radius: 10px;
  right: 60px;





  background: #ffffff;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}

.AddAdmin {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  /* or 113% */

  display: flex;
  align-items: center;
  letter-spacing: 0.496657px;

  color: #2e2e7f;
}

.AccessType {
  margin-bottom: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  letter-spacing: 0.25px;

  color: #263238;
}

