

<div class="row mx-5 my-6">
  <div class="col-6">
    <mat-card>
      <div class="row">
        <div class="col-6">
          <mat-form-field class="matformfield" appearance="outline">
            <mat-label>Company Name*</mat-label>
            <input class="input" matInput placeholder="Company Name" />
          </mat-form-field>
          <mat-form-field class="matformfield" appearance="outline">
            <mat-label>Website*</mat-label>
            <input class="input" matInput placeholder="Website.com" />
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field class="matformfield" appearance="outline">
            <mat-label>API Key</mat-label>
            <input class="input" matInput placeholder="643289128734" />
          </mat-form-field>
          <div class="col-6">
            <mat-form-field class="matformfield" appearance="outline">
              <mat-label>Partner ID</mat-label>
              <input class="input" matInput placeholder="356218932r" />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
        
        <mat-form-field class="matformfield" appearance="fill">
          <mat-label class="Store Currency">Reward Type</mat-label>
          <select matNativeControl>
            <option class="FixedAmountDiscount" value="FixedAmountDiscount">
              United States Dollar (USD)
            </option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
          </select>
        </mat-form-field>
      </div>
      
      <div class="row">
        <div class="buttonrow">
          <button class="Discard1" mat-button color="White">Discard</button>
          <button class="ApplyChanges1" mat-button color="White">
            Apply Changes
          </button>
        </div>
      </div>
    
  </div>

