<section class="vh-100 gradient-custom">
<mat-card class="mat-card">


    <!-- Password input -->
    <div class="form-outline mb-4">
        <label class="form-label" for="form2Example2">New Password*</label>
      <input type="password" id="form2Example2" class="form-control" placeholder="*******" />
      
    </div>
  
    <div class="form-outline mb-4">
        <label class="form-label" for="form2Example2">Confirm Password*</label>
      <input type="password" id="form2Example2" class="form-control" placeholder="*******" />
      
    </div>
        
      
    
  
 


  
  
  <a [routerLink]="['/threeresetpassword']" class="loginbutton" mat-raised-a color="White">Reset</a>





</mat-card>

</section>