<mat-card class="matCard">
  <mat-card class="matCard1">
    <p class="paragraph">
      The Basic Integration and Authentication snippet is required for enabling
      CMS Loyalty Points on your website and to authenticate your users into CMS
      Loyalty Points. Below is an example of the sample snippet that needs to be
      present in the HEAD of your website page template so that this snippet
      appears on every page on your website. The customer specific information –
      email, name, user_id and access_token – must be filled dynamically and
      passed wherever available.
      <br /><br />
      The following fields 'ts' and 'access_token' are used to securely pass
      information to Zinrelo. ts :This field requires the current timestamp in
      epoch format. e.g 1576587398 access token :This field requires a SHA256
      hash of the concatenated string of user_id, email, partner_id, api_key and
      the value of 'ts' mentioned above
      <br /><br />
      Your Partner ID is 21f9e26ddb and your Api Key is
      8bc77ab53cfa155ae75b0e3ae4ae378c
    </p>
  </mat-card>





</mat-card>
