



<div class="row mx-5 my-6">
  <div class="col-6">
    <mat-card>
      <div class="row">
        <div class="col-6">
          <mat-form-field class="matformfield" appearance="outline">
            <mat-label>Name</mat-label>
            <input class="input" matInput placeholder="Name" />
          </mat-form-field>
          <mat-form-field class="matformfield" appearance="outline">
            <mat-label>Email*</mat-label>
            <input class="input" matInput placeholder="Email" />
          </mat-form-field>
          <mat-form-field class="matformfield" appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input class="input" matInput placeholder="94064043035" />
          </mat-form-field>

        </div>

        <div class="col-6">
          <mat-form-field class="matformfield" appearance="outline">
            <mat-label>Old Password*</mat-label>
            <input class="input" matInput placeholder="*************" />
          </mat-form-field>
          <div class="col-6">
            <mat-form-field class="matformfield" appearance="outline">
              <mat-label>New Password*</mat-label>
              <input class="input" matInput placeholder="*************" />
            </mat-form-field>
            <div class="col-6">
              <mat-form-field class="matformfield" appearance="outline">
                <mat-label>Confirm New Password*</mat-label>
                <input class="input" matInput placeholder="*************" />
              </mat-form-field>
              
          </div>
        </div>
      </div>
      
      
      <div class="row">
        <div class="buttonrow">
          <button class="Discard1" mat-button color="White">Discard</button>
          <button class="ApplyChanges1" mat-button color="White">
            Apply Changes
          </button>
        </div>
      </div>
    
  </div>




