

<div class="content">
  <div fxLayout="row wrap" class="contentres">

    <div
      fxFlex="25%"
      *ngFor="
        let num of [
          { name: 'ACTIVE MEMBERS', value: '102' },
          { name: 'AVAILABLE POINTS', value: '32' },
          { name: 'POINTS EARNED', value: '25' },
          { name: 'POINTS USED', value: '12' },

        ]
      "
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-actions>
          <button mat-button>{{ num.name }}</button>
          <button mat-button>{{ num.value }}</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
