
<div class="content">
  <div fxLayout="row wrap" class="contentres">
    <div
      fxFlex="30%"
      *ngFor="
        let num of [
          {
            name: 'Notif. 1 ',
            Point1: 'Triggered when user ...',
            Point2: '20% Discount'
          },
          {
            name: 'Notif. 2 ',
            Point1: 'Triggered when user ...',
            Point2: '20% Discount'
          },
          {
            name: 'Notif. 3',
            Point1: 'Triggered when user ...',
            Point2: '20% Discount'
          },

          {
            name: 'Notif. 4',
            Point1: 'Triggered when user ...',
            Point2: '20% Discount'
          },
          {
            name: 'Notif. 5',
            Point1: 'Triggered when user ...',
            Point2: '20% Discount'
          },
          {
            name: 'Notif. 6',
            Point1: 'Triggered when user ...',
            Point2: '20% Discount'
          },

        
        ]
      "
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header style="display: flex; flex-direction: row; justify-content: space-between;">
         
          <mat-card-title [routerLink]="['/Dashboard//details1']" class="mat-card-title">{{ num.name }}</mat-card-title>
          <mat-slide-toggle class=""></mat-slide-toggle>

        </mat-card-header>
        <hr>
        <mat-card-content class="mat-card-content">
          
          <ul>
            <li>{{ num.Point1 }}</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

